.notification {
  background: whitesmoke;
  font-size: xx-large;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: #43aa8b;
}

.error {
  color: #f94144;
}